::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #282828;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #535353;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #737373;
}
