.container {
    display: flex;
}

.left {
    width: 25vw;
}

.library {
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 10px;
    padding-left: 30px;
    min-height: 90vh;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 23px;
    padding-bottom: 39px;
}

.library img {
    width: 15px;
    padding-right: 20px;
}
